<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular Scheduling</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/vendor/angular.js"></script>
    <script src="./js/vendor/firebase.js"></script>
    <script src="./js/vendor/angularfire.js"></script>
    <script src="./js/app.js"></script>
  </head>
  <body>
    <div class="container" data-ng-app="scheduleApp" data-ng-controller="mainController">
      <div class="page-header text-center">
        <h1>Schedule City</h1>
      </div>

      <div class="row times">
        <div class="col-xs-4 text-center" data-ng-repeat="day in days">
          <h2>{{ day.name }}</h2>

          <div class="time-slot" data-ng-repeat="slot in day.slots">
            <input type="checkbox" id="{{ day.name }}-{{ $index }}" data-ng-model="slot.booked" data-ng-disabled="slot.booked">
            <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
              <span data-ng-if="slot.booked">Booked</span>
              <span data-ng-if="!slot.booked">Available</span>
            </label>
          </div>
        </div>
      </div>

      <p class="text-center">
        <a href="#" class="btn btn-danger" data-ng-click="reset()">Reset</a>
      </p>
    </div>
  </body>
</html>
